body{
 
}

.white{
    color: #fff;
}
#main{
    width: 100%;
    background: #fff;
    margin: 0;
}
#logo{
    background: url("../images/tokyo.jpg");
    border: solid #fff 3px;
}
.menu{
    color: #fff;
    border: solid #fff 1px;
    background:linear-gradient(#333,#000);
    background-color: #0000009d;
    display: flex;
    justify-content: center;
 
}
#content{
    background: #fff;
}
.menu ul{
    margin-top: 1px;
    margin-bottom: 0px;
}
.menu ul li {
     list-style: none;
    margin: 30px;
    text-align: center;
    font-size: 20px;
    display: inline;
         
 
}
.menu ul li a {
  text-decoration: none;
  width: 80px;
  height: 30px;
  display: inline-block;
    

}

.menu a{
    color: #fff;
    text-decoration: none;
}
.menu a:hover{
    color:#fff;
    background: linear-gradient(#000,#666);
    text-decoration: underline;
    
}
#up h3{
    
    width:80%;
    border: 5px double #000;
    border-radius: 10px;
    background: linear-gradient(#fff,#888,#555,#000);
}
#down h3{
    width:80%;
    border: 5px double #000;
    border-radius: 10px;
    background: linear-gradient(#fff,#888,#555,#000);
}

   
#left{
    width: 30%;
    float: left;
    
}
#right{
    width: 70%;
    float: right;
}
footer{
    clear: both;
    text-align: center;
    color: #fff;
    background:linear-gradient(#666,#000);
}
    

