body{
 
}

.white{
    color: #fff;
}
#main{
    width: 680px;
    background: #fff;
    margin: 0;
}
#logo{
    background: url("../images/tokyo.jpg");
    border: solid #fff 3px;
}
.menu{
    color: #fff;
    border: solid #fff 1px;
    
    background-color: #0000009d;
    display: flex;
    justify-content: center;
 
}
#content{
    background: #fff;
}
li{
  
    background-color: #000000;
    
    width: 80px;
    margin: 30px;
    text-align: center;
    font-size: 20px;
    display: inline;
 
}
